.*
!.github
!.gitignore
!.clang-format
!.cmake-format.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
sphinx

#Visual Code folders
.vscode

# Android build folders
.idea

# Android build config files
local.properties

# Android Shader output sources/binaries
Chapter5/app/src/main/assets/shaders/*.spv
Chapter5/app/src/main/assets/shaders/*.glsl

Chapter4/app/src/main/assets/shaders/*.spv
Chapter4/app/src/main/assets/shaders/*.glsl

Chapter3/app/src/main/assets/shaders/*.spv
Chapter3/app/src/main/assets/shaders/*.glsl

Chapter2/app/src/main/assets/shaders/*.spv
Chapter2/app/src/main/assets/shaders/*.glsl
